<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title>Create automobili</title>
    </head>
    <body>
        <div id="header">
            <h1><a th:href="@{/home}">Concessionaria</a></h1>
            <div>
                <a th:href="@{/createAutomobili}">Create automobili</a>
                <a th:href="@{/createProprietari}">Create proprietari</a>
                <a th:href="@{/readAutomobili}">Read automobili</a>
                <a th:href="@{/readProprietari}">Read proprietari</a>
                <a th:href="@{/updateAutomobile}">Update automobili</a>
                <a th:href="@{/updateProprietario}">Update proprietari</a>
            </div>
        </div>
        <div id="main">
            <h2>Create automobili</h2>
            
            <form id="createForm" action="#" th:action="@{/automobili/create}" th:object="${newAutomobile}" method="post">
                <input type="text" name="modello" placeholder="Modello dell'automobile..." th:field="*{modello}" required/>
                <input type="text" name="marca" placeholder="Marca dell'automobile..." th:field="*{marca}" required/>
                <input type="number" name="cavalli" placeholder="0" th:field="*{cavalli}" required/>
                <input type="number" name="cilindrata" placeholder="0" th:field="*{cilindrata}" required/>
                <select id="proprietario_id" th:field="*{proprietario}"></select>
                <input type="submit" id="createButton" value="Aggiungi automobile"/>
            </form>
            <script>
                $(document).ready(function(){
                    $.get("http://localhost:8080/proprietari/getProprietari", function(proprietari){
                        for(var i = 0; i < proprietari.length; i++){
                            option = "";
                            option += "<option th:value='*{proprietario}'>" + proprietari[i].id + "</option>";
                            $("#proprietario_id").append(option);
                        }
                    });
                });
            </script>
        </div>
        <div id="footer">
        </div>
    </body>
</html>