<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title>Home</title>
    </head>
    <body>
        <div id="header">
            <h1><a th:href="@{/home}">Concessionaria</a></h1>
            <div>
                <a th:href="@{/createAutomobili}">Create automobili</a>
                <a th:href="@{/createProprietari}">Create proprietari</a>
                <a th:href="@{/readAutomobili}">Read automobili</a>
                <a th:href="@{/readProprietari}">Read proprietari</a>
                <a th:href="@{/updateAutomobile}">Update automobili</a>
                <a th:href="@{/updateProprietario}">Update proprietari</a>
            </div>
        </div>
        <div id="main">
            <h2>Home</h2>
            
        </div>
        <div id="footer">
        </div>
    </body>
</html>