<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title></title>
    </head>
    <body>
        <div id="header">
            <h1><a th:href="@{/home}">Concessionaria</a></h1>
            <div>
                <a th:href="@{/createAutomobili}">Create automobili</a>
                <a th:href="@{/createProprietari}">Create proprietari</a>
                <a th:href="@{/readAutomobili}">Read automobili</a>
                <a th:href="@{/readProprietari}">Read proprietari</a>
            </div>
        </div>
        <div id="main">
            <h2>Update automobile</h2>
            
            <select id="automobileMod">

            </select>
            <div id="modifyDiv">

            </div>
            <script>
                $(document).ready(function(){
                    $.get("http://localhost:8080/automobili/getAutomobili", function(automobili){
                        
                        for(var i = 0; i < automobili.length; i++){
                            option = "";
                            option += "<option>" + automobili[i].id + "</option>";
                            $("#automobileMod").append(option);
                            console.log(automobili[i].proprietario);
                        }
                        
                        $("#automobileMod").change(function(){
                            for(var i = 0; i < automobili.length; i++){
                                if($("#automobileMod").val() == automobili[i].id){
                                    a = automobili[i];
                                    break;
                                }
                            }
                            
                            $("#modifyDiv").empty();
                            modifyDivContent = ' <input type="text" id="marca" placeholder="' + a.marca + '" required/>';
                            modifyDivContent += '<input type="text" id="modello" placeholder="' + a.modello + '" required/>';
                            modifyDivContent += '<input type="text" id="cavalli" placeholder="' + a.cavalli + '" required/>';
                            modifyDivContent += '<input type="text" id="cilindrata" placeholder="' + a.cilindrata + '" required/>';
                            //TODO id proprietario
                            modifyDivContent += '<input type="button" id="modifyButton" value="Modifica automobile">';
                            $("#modifyDiv").append(modifyDivContent);

                            $("#modifyButton").click(function(){
                                a.marca = $("#marca").val();
                                a.modello = $("#modello").val();
                                a.cavalli = $("#cavalli").val();
                                a.cilindrata = $("#cilindrata").val();
                                console.log(a);

                                $.ajax({
                                    url: "http://localhost:8080/automobili/update/" + a.id,
                                    method: "post",
                                    contentType: "application/json",
                                    data: JSON.stringify(a),
                                    success: function(){
                                        window.location.href='/automobili/read'
                                    }
                                });
                            });
                        });
                    });
                });
            </script>
        </div>
        <div id="footer">
        </div>
    </body>
</html>